
.container {
    position: relative;
    width: 414px;
    height: 896px;
    background: #EAF2F2;
  }
  .status-bar{
    width: 414px;
    height: 50px;
      margin-bottom: 54px;
  }
.boy{
margin-left: 98px;
margin-top: 28px;
}
.shape{
height: 195px;
width: 250px;
    background: url('../assets/images/shape.png');
    background-repeat: no-repeat;
    }
.btn01 {
    width: 321px;
    height: 61px;
    margin-top: 47px;
    margin-left: 54px;
    border: none;
    font-family: 'Noto Sans SC';
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    background: #2ED2C9;
}