body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans SC','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: local('Noto Sans SC'), url('./assets/fonts/NotoSansSC-Regular.ttf');
 
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src:local('Roboto') url('./assets/fonts/Roboto-Regular.ttf');
}